<!DOCTYPE html>
<html>
<head>
  <title>Cerberus</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= yield :javascript_includes %>
  <%= csrf_meta_tags %>
</head>
<body style="padding-top: 70px;">
	<%= render "layouts/header" %>
	<%= yield %>
	<%= render 'layouts/footer' %>
</body>
</html>
